<h1>Welcome to CSE Motors</h1>

<img src="/images/vehicles/delorean.jpg" alt="delorean-big"/>

<div>
<h4>DMC Delorean</h4>
<p>3 Cup holders</p>
<p>Superman doors</p>
<p>Fuzzy dicel</p>
<button>Own Today</button>
</div>

<div class="grid-upgrades">
    <h4>Delorean Upgrades</h4>
    <div class="grid-upgrade-img-flux">
        <img src="/images/upgrades/flux-cap.png" alt="flux-cap"/>
        <a>Flux Capacitor</a>
    </div>
    <div class="grid-upgrade-img-flame">
        <img src="/images/upgrades/flame.jpg" alt=""/>
        <a>Flame Decals</a>
    </div>
    <div class="grid-upgrade-img-bumper">
        <img src="/images/upgrades/bumper_sticker.jpg" alt=""/>
        <a>Bumper Stickers</a>
    </div>
    <div class="grid-upgrade-img-hub">
        <img src="/images/upgrades/hub-cap.jpg" alt=""/>
        <a>Hub Caps</a>
    </div>
</div>

<div class="grid-reviews">
    <h4>DMC Delorean Reviews</h4>
    <ul>
        <li>"So fast it's almost like traveling in Time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day" (4.5/5)</li>
        <li>"80's ivin and I love it!" (5/5)</li>
    </ul>
</div>